<h1><%= t(".book_appointments", person: @calendar.user.full_name) %></h1>

<% @appointment_types.each do |appointment_type| %>
	<%= render AppointmentTypeComponent.new(appointment_type, path: calendar_path(@calendar, id: appointment_type)) %>
<% end %>
