%h2= t "shared.appt_with_person", appt: @appointment.title, person: @appointment.creator_name

= render "appointments/appointment", appointment: @appointment

= button_to "Cancel appointment", appointment_path(@appointment, calendar: @appointment.calendar), class: "btn btn-accent mt-4", method: :delete
