<h1>Calendars</h1>
<p>We found these calendars in your google</p>

<% @google_calendars.each do |calendar| %>
	<% calendar_name = (calendar.primary ? 'Primary' : calendar.summary) %>
	<% if @calendars.map(&:identifier).include?(calendar.id) %>
		<% connected_calendar = @calendars.select { |c| c.identifier == calendar.id } %>
		<%= link_to "Go to #{calendar_name} Calendar", google_calendar_path(connected_calendar), class: "btn btn-primary mb-4" %>
	<% else %>
		<%= button_to "Connect to #{calendar_name} Calendar", google_calendars_path(id: calendar.id), class: "btn btn-outline btn-secondary mb-4" %>
	<% end %>
<% end %>
