<h1>Editing appointment type</h1>

<%= render "form", appointment_type: @appointment_type %>

<br>

<div>
  <%= link_to "Show this appointment type", [:dashboard, @appointment_type] %> |
  <%= link_to "Back to appointment types", dashboard_appointment_types_path %>
</div>
