<h1>New appointment type</h1>

<%= turbo_frame_tag :new_appointment_type do %>
  <%= render "form", appointment_type: @appointment_type, calendar: @calendar %>
<% end %>
<br>

<div>
  <%= link_to "Back to appointment types", dashboard_appointment_types_path %>
</div>
