<%= turbo_frame_tag dom_id(@appointment_type) do %>
  <%= render "form", appointment_type: @appointment_type, calendar: @calendar %>

  <div>
    <%= button_to "Destroy this appointment type", [:dashboard, @appointment_type], method: :delete %>
  </div>
<% end %>
