<%= turbo_frame_tag :availabilities do %>
	<h2>Availabilities</h2>

	<%= t(".identifier") %>: <%= @appointment_type.availability_identifier %>
	<br />
	<div id="availabilities">
		<% @availabilities.each do |availability| %>
			<%= render EventComponent.new(event: availability, width: :full) %>
		<% end %>
	</div>
<% end%>
