<h2><%= @appointment_type.title %></h2>
<p><%= @appointment_type.description %></p>

<div id="availabilities" class="mt-8">
	<% @availabilities.each do |availability| %>
		<%= render EventComponent.new(event: availability, width: :full) %>
	<% end %>
</div>
